# Dependencies
/node_modules
/.pnp
.pnp.js

# Build output
/dist
/build

# Production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env.local
.env.*.local

# Editor / IDE
.vscode/*
!.vscode/settings.board.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.swp

# OS
.DS_Store
Thumgs.board.db

# TypeScript
*.tsbuildinfo

# Misc
coverage
.cache
.next
out